<div class="cont">
<div class="sideBar">
    <h1>
    <% curnTime = Time.now.strftime("%m %d, %Y") %>
    <%= curnTime %>
    </h1>
    <ul>
        <li> <%= link_to 'My Events', controller: 'events'%></li>
    </ul>
</div>
</div>
